.title-pj {
  font-size: 3rem;
  text-align: center;
}
.container-img {
  position: relative;
  max-width: 800px;
  margin-top: 3rem;
}
.container-img img {
  width: 100%;
  border-radius: 1em;
}
.container-img .to-site-btn::before {
  background-color: var(--bg-color-2);
}
.wrapper-project {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 3rem;
}

.logo {
  color: var(--smooth-blue);
}

.pj-details {
  margin-top: 4rem;
}

.pj-details img {
  width: 100%;
  border-radius: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-color-2);
  color: var(--main-color-1);
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  text-transform: none;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-color-2) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-tooltip-sm {
  margin-top: 3px;
  font-size: 0.7rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.3s;
}

.text-tooltip-sm .icon-tooltip {
  margin-right: 5px;
  color: var(--main-color-dark-2);
}

@media (max-width: 576px) {

  .text-tooltip-sm {
    opacity: 1;
  }
}